.navbar-collapse {
    background-color: lightblue;
}

.section {
    background-color: #f8f9fa;
    height: 1000px;
    padding: 20px;
}

.section h2 {
    margin-top: 40px;
}

.navbar {
    border-radius: 0;
}

@media (min-width: 768px) {
    .navbar-brand {
        margin-left: 0;
    }
}